@import "/styles/components/reset.css";
@import "/styles/components/header.css";
@import "/styles/components/footer.css";
@import "/styles/components/resizing.css";
@import "/styles/components/hamburger.css";

main {
  display: flex;
  grid-area: 2/1/3/-1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .gform {
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #331224;
  width: 50rem;
  height: 23rem;
  padding: 1rem;
  gap: 1rem;
}
main .gform .form-elements {
  display: grid;
  grid-template-rows: 15% repeat(5, 1fr) 10%;
  grid-template-columns: 25% 63% 12%;
  width: 100%;
  height: 100%;
}
main .gform .form-elements .title_and_contents {
  grid-area: 1/1/3/-1;
}
main .gform .form-elements .title_and_contents .inquire__title {
  font-size: 3rem;
  font-weight: 700;
}
main .gform .form-elements .title_and_contents .inquire__contents {
  margin-top: 0.5rem;
}
main .gform .form-elements .pure-group {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  margin-top: 0.75rem;
}
main .gform .form-elements .within-a-day {
  grid-area: 5/1/7/2;
  display: flex;
  align-items: center;
}
main .gform .form-elements .writing-inquire {
  grid-area: 3/2/7/-1;
  display: flex;
  flex-direction: column;
}
main .gform .form-elements .writing-inquire label {
  font-size: 1.5rem;
  font-weight: 700;
}
main .gform .form-elements .writing-inquire textarea {
  width: 99%;
  height: 80%;
}
main .gform .form-elements .honeypot-field {
  grid-area: -2/1/-1/3;
  opacity: 0.75;
  font-size: 0.5rem;
  flex-direction: row;
}
main .gform .form-elements .button-success {
  grid-area: -2/-2/-1/-1;
  width: 100%;
}
.thankyou_message span {
  font-size: 3rem;
}
thankyou_message h2 {
  font-size: 1rem;
}
@media screen and (min-width: 300px) and (max-width: 1023px) {
  body {
    width: 100vw;
    height: auto;
  }
  body main {
    padding: 5rem 0 1rem;
    width: 100vw;
  }
  body main .gform {
    width: 80%;
    overflow-y: auto;
  }
  body main .gform .form-elements {
    grid-template-columns: 70% 30%;
    grid-template-rows: 5fr repeat(2, 1fr) 1.5fr 5fr 1fr;
  }
  body main .gform .form-elements .pure-group {
    margin-top: 0;
  }
  body main .gform .form-elements .title_and_contents {
    grid-area: 1/1/2/3;
  }
  body main .gform .form-elements .pure-group:nth-child(3) {
    grid-area: 2/1/3/-1;
  }
  body main .gform .form-elements .within-a-day {
    grid-area: 4/1/5/-1;
  }
  body main .gform .form-elements .pure-group:nth-child(5) {
    grid-area: -2/1/-1/2;
    font-weight: 700;
    display: flex;
  }
  body main .gform .form-elements .pure-group:nth-child(5) input {
    width: 4rem;
  }
  body main .gform .form-elements .writing-inquire {
    grid-area: 5/1/6/-1;
  }
  body main .gform .form-elements .writing-inquire textarea {
    height: 5rem;
  }
  body main .gform .form-elements .pure-group,
  body main .gform .form-elements .within-a-day {
    display: inline;
    width: 100%;
    height: 1rem;
  }
}
