html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.display-none {
  display: none !important;
}
.upload {
  width: 6rem;
  height: 2rem;
  margin: 0 1.5rem 0.4rem 0;
}
.span-anchor {
  color: #000;
  text-decoration: none;
}
.page_in_now {
  font-size: large;
}
.profile__img__login {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
.profile__img__login svg {
  width: 2rem;
  height: 2rem;
}
.profile__username__login span {
  font-size: 1.7rem;
}
html {
  height: 100vh;
}
body {
  display: grid;
  grid-template-rows: 9rem 1fr 5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  width: 100%;
  min-height: 100vh;
}
header {
  display: grid;
  width: 100%;
  grid-template-columns: 10rem 1fr 12rem;
  grid-template-rows: 2fr 1fr;
  border: 1px solid gray;
  position: fixed;
  background-color: #e9ddcf;
}
header .logo {
  width: 100%;
  height: 100%;
  grid-area: 1/1/2/2;
  position: relative;
}
header .logo .logo__img__container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header .logo .logo__img__container img {
  width: 5.5rem;
  height: 5.5rem;
  max-height: 150px;
  position: absolute;
  right: 0.6rem;
}
header .menu_bar {
  display: flex;
  flex-direction: row;
  grid-area: 1/2/2/-2;
  justify-content: space-evenly;
  align-items: center;
}
header .profile__container {
  grid-area: 1/-2/2/-2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .profile__container .profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
header .profile__container .profile .profile__img img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
header .__label {
  display: flex;
  grid-area: 2/1/-1/-1;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  background-color: #5f2723;
  border: 5px solid #331224;
  box-sizing: border-box;
  margin-top: 1px;
  padding-left: 2rem;
  color: #fff;
  width: 100%;
  height: 3rem;
}
@media screen and (min-width: 300px) and (max-width: 1023px) {
  html {
    width: 100vw;
  }
  body {
    position: relative;
    width: 100%;
    height: 100vw;
  }
  header {
    display: grid;
    width: 100vw;
    height: 10rem;
    justify-content: space-between;
    border: 1px solid gray;
    position: fixed;
    background-color: #e9ddcf;
    position: relative;
    grid-template-columns: repeat(1fr 5);
    grid-template-rows: 9rem 1fr minmax(5rem, 1fr);
  }
  header .__label {
    grid-area: -2/1/-1/-1;
  }
  header .logo {
    grid-area: 1/1/-2/2;
  }
  header .logo .logo__img__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .logo .logo__img__container .logo__img {
    width: 100%;
    height: 100%;
  }
  header .menu_bar,
  header .profile__container {
    display: none;
  }
  header .menu_bar * {
    display: none;
  }
  header .hamburger {
    display: flex;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    grid-area: 1/3/-2/-1;
    color: #000;
  }
}
.profile__container * {
  display: none;
  border: none;
}
footer {
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 300px) {
  .too_small {
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: bisque;
    font-size: 5rem;
  }
}
footer {
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: flex-end;
  align-items: center;
  background-color: #faebd7;
  grid-area: 3/1/4/-1;
  z-index: 3;
}
footer .contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}
footer .contact .contact__phone-number {
  font-size: 2em;
  font-weight: 700;
}
footer .sns svg {
  width: 5rem;
  height: 5rem;
}
@media screen and (min-width: 300px) and (max-width: 1023px) {
  footer {
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
    width: 100vw;
  }
}
.hamburger {
  display: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.mobile-menu {
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 35%;
  background-color: #e9ddcf;
  opacity: 0;
  grid-template-rows: 2rem repeat(8, 1rem);
  padding: 20px;
  box-sizing: border-box;
  z-index: 5;
  transform: translate(100%);
  transition: all 0.5s ease-out;
}
.close-menu {
  cursor: pointer;
  margin-bottom: 2rem;
}
.mobile-nav-list {
  list-style: none;
  padding: 0;
}
.mobile-nav-list {
  padding-top: 1.5rem;
}
.mobile-nav-list li {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
}
header {
  grid-template-rows: 1fr;
  height: 5.5rem;
  position: fixed;
  background-color: #e9ddcf;
}
main {
  width: 100%;
  height: 70vh;
  display: flex;
  grid-area: 2/1/3/-1;
  justify-content: center;
  align-items: center;
}
main .main_logo__container {
  width: 80px;
  height: 80px;
}
main .main_logo__container .main_logo {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 300px) and (max-width: 1023px) {
  body {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
  }
  body main {
    width: 100vw;
  }
}
