@import "/styles/components/reset.css";
@import "/styles/components/header.css";
@import "/styles/components/footer.css";
@import "/styles/components/resizing.css";
@import "/styles/components/hamburger.css";

main {
  display: flex;
  grid-area: 2/1/3/-1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .main-content {
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 1rem;
  width: 80%;
  height: 80%;
  border: 5px double var(--dark_brown);
  background-color: var(--beige);
}
main .main-content .content__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
  border-bottom: 1px solid var(--dark_brown);
}
main .main-content .content__title .title {
  font-size: 2.5rem;
  font-weight: 700;
}
main .main-content .content__paragraph {
  overflow-y: scroll;
  padding-left: 3rem;
}
main .main-content .answer {
  border-top: 1px solid var(--dark_brown);
  min-height: 4rem;
}
