@import "styles/components/reset.css";
@import "styles/components/header.css";
@import "styles/components/footer.css";
@import "styles/components/hamburger.css";

main {
  display: flex;
  grid-area: 2/1/3/-1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .inquire__container {
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 1rem;
    width: 80%;
    height: 80%;
    border: 5px double #331224;
    background-color: white;
    position: relative;
    .title__container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid #331224;
      .title__input {
        font-size: 2.5rem;
        font-weight: bold;
        width: 100%;
        height: 90%;
      }
    }
    .paragraph__container {
      overflow-y: scroll;
      position: relative;
      .paragraph__input {
        top: 0;
        width: 100%;
        height: 100%;

        &::placeholder {
          position: absolute;
          top: 0;
        }
      }
    }
    .upload__btn {
      position: absolute;
      top: 21%;
      right: 2rem;
      width: 5rem;
      height: 2rem;
    }
  }
}
