.hamburger {
  display: none;
}

.mobile-menu {
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 45%;
  background-color: #f0daae;
  border-left: 3px solid black;
  opacity: 0;
  grid-template-rows: 2rem repeat(8, 1rem);
  padding: 20px;
  box-sizing: border-box;
  z-index: 5;
  transform: translate(100%);
  transition: all 0.5s ease-out;
}
.close-menu {
  cursor: pointer;
  margin-bottom: 2rem;
}
.mobile-nav-list {
  list-style: none;
  padding: 0;
  padding-top: 1.5rem;
}
.mobile-nav-list li {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  white-space: nowrap;
}
.too_small {
  display: none;
}

@media screen and (min-width: 300px) and (max-width: 1023px) {
  .mobile-menu {
    width: 20%;
  }
}
