.hamburger {
  display: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.mobile-menu {
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 35%;
  background-color: #e9ddcf;
  opacity: 0;
  grid-template-rows: 2rem repeat(8, 1rem);
  padding: 20px;
  box-sizing: border-box;
  z-index: 5;
  transform: translateX(100%);
  transition: all 0.5s ease-out;
}

.close-menu {
  cursor: pointer;
  margin-bottom: 2rem;
}

.mobile-nav-list {
  list-style: none;
  padding: 0;
}

.mobile-nav-list {
  padding-top: 1.5rem;
}

.mobile-nav-list li {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.too_small {
  display: none;
}
