html {
  height: 100vh;
}

body {
  display: grid;
  grid-template-rows: 9rem 1fr 5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  min-height: 100vh;
}

header {
  display: grid;
  width: 100%;
  grid-template-columns: 10rem 1fr 12rem;
  grid-template-rows: 2fr 1fr;
  border: 1px solid gray;
  position: fixed;
  background-color: #e9ddcf;
}
header .logo {
  width: 100%;
  height: 100%;
  grid-area: 1/1/2/2;
  position: relative;
}
header .logo .logo__img__container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header .logo .logo__img__container img {
  width: 5.5rem;
  height: 5.5rem;
  max-height: 150px;
  position: absolute;
  right: 0.6rem;
}
header .menu_bar {
  display: flex;
  flex-direction: row;
  grid-area: 1/2/2/-2;
  justify-content: space-evenly;
  align-items: center;
}
header .profile__container {
  grid-area: 1/-2/2/-2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .profile__container .profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
header .profile__container .profile .profile__img img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
header .__label {
  display: flex;
  grid-area: 2/1/-1/-1;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  background-color: #5f2723;
  border: 5px solid #331224;
  box-sizing: border-box;
  margin-top: 1px;
  padding-left: 2rem;
  color: white;
  width: 100%;
  height: 3rem;
}

@media screen and (min-width: 300px) and (max-width: 1023px) {
  html {
    width: 100vw;
  }

  body {
    position: relative;
    width: 100%;
    height: 100vw;
  }

  header {
    display: grid;
    width: 100vw;
    height: 10rem;
    justify-content: space-between;
    border: 1px solid gray;
    position: fixed;
    background-color: #e9ddcf;
    position: relative;
    grid-template-columns: repeat(1fr 5);
    grid-template-rows: 7rem 1fr minmax(3rem, 1fr);
  }
  header .__label {
    grid-area: -2/1/-1/-1;
  }
  header .logo {
    grid-area: 1/1/-2/2;
  }
  header .logo .logo__img__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .logo .logo__img__container .logo__img {
    width: 100%;
    height: 100%;
  }
  header .menu_bar,
  header .profile__container {
    display: none;
  }
  header .menu_bar * {
    display: none;
  }
  header .hamburger {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    grid-area: 1/3/-2/-1;
    color: black;
  }
}
.profile__container * {
  display: none;
  border: none;
}

footer {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 300px) {
  .too_small {
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: bisque;
    font-size: 5rem;
  }
}
