{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/screens/event.css' %}" />
{% endblock %}

{% block add_nav %}
    <div class="__label">
        <a href={% url "events_on" %} class="event_anchor">
          <span>진행중인 이벤트</span></a
        >
        <span class="page_in_now">지난 이벤트</span>
        <button class="upload display-none">작성하기</button>
      </div>
{% endblock %}

{% block content %}
    <main>
      <div class="ongoing_events">
        <div class="event__box">
          <div class="event__img">
            <img src={% static "img/busking2023.jpg" %} />
          </div>
          <div class="event__explain">
            <h2 class="event__title">2023 버스킹</h2>
            <h3 class="event__date">2023.04.08 ~ 05. 19</h3>
          </div>
        </div>

        <div class="event__box">
          <div class="event__img">
            <img src={% static "img/shock.jpg" %} />
          </div>
          <div class="event__explain">
            <h2 class="event__title">MAGIC CLUB</h2>
            <h3 class="event__date">2023.02.17~18</h3>
          </div>
        </div>

        <div class="event__box">
          <div class="event__img">
            <img src={% static "img/study.jpg" %} />
          </div>
          <div class="event__explain">
            <h2 class="event__title">카드 마술 스터디</h2>
            <h3 class="event__date">2022.06.27 ~ 08. 21</h3>
          </div>
        </div>

        <div class="event__box">
          <div class="event__img">
            <img src={% static "img/busking2022.png" %} />
          </div>
          <div class="event__explain">
            <h2 class="event__title">2022 버스킹</h2>
            <h3 class="event__date">2022.07.17 ~ 10.16</h3>
          </div>
        </div>

        <div class="event__box">
          <div class="event__img">
            <img src={% static "img/nontact.jpg" %} />
          </div>
          <div class="event__explain">
            <h2 class="event__title">비대면 공연</h2>
            <h3 class="event__date">2020.05.07</h3>
          </div>
        </div>

        <div class="pagination__container">
          <div class="pagination">
            <svg
              class="pagination__left-chevron display-none"
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 320 512"
            >
              <path
                d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"
              />
            </svg>
            <div class="page_1">1</div>
            <svg
              class="pagination__right-chevron display-none"
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 320 512"
            >
              <path
                d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
              />
            </svg>
          </div>
        </div>
      </div>
    </main>
{% endblock %}