{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/screens/event.css' %}" />
{% endblock %}

{% block add_nav %}
    <div class="__label">
        <span>이벤트</span>
    </div>
{% endblock %}

{% block content %}
    <main>
      <div class="events">
        <div class="event__box">
          <a class="span-anchor" href={% url 'event_febuary' %}>
            <img class="event__img" src={% static "img/stws.jpeg" %}/>
            <div class="event__explain">
              <h2 class="event__title">Stage Workshop</h2>
              <h3 class="event__date">2024.02.25</h3>
            </div>
          </a>
        </div>
        <div class="event__box">
          <a class="span-anchor" href={% url 'event_march' %}>
            <img class="event__img" src={% static "img/coming.png" %}/>
            <div class="event__explain">
              <h2 class="event__title">파티-인별 마술</h2>
              <h3 class="event__date">2024.03.??</h3>
            </div>
          </a>
        </div>
        <div class="event__box">
          <a class="span-anchor" href={% url 'event_april' %}>
            <img class="event__img" src={% static "img/coming.png" %}/>
            <div class="event__explain">
              <h2 class="event__title">매직클럽 렉쳐 - 빛빛빛</h2>
              <h3 class="event__date">2024.04.??</h3>
            </div>
          </a>
        </div>
        <div class="event__box">
          <a class="span-anchor" href={% url 'event_may' %}>
            <img class="event__img" src={% static "img/coming.png" %}/>
            <div class="event__explain">
              <h2 class="event__title">매직클럽 기획공연</h2>
              <h3 class="event__date">2024.05.25? 26?</h3>
            </div>
          </a>
        </div>
      </div>
    </main>
{% endblock %}