<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magic Club Korea - 문의 하기</title>
    <link rel="stylesheet" href="../styles/screens/inquire.css" />
  </head>
  <body>
    <div class="too_small">화면이<br />너무작<br />습니다.</div>
    <header>
      <div class="upper">
        <a href="/templates/main.html" class="logo">
          <div class="logo__img__container">
            <img src="/img/new_logo_nobackground.png" />
          </div>
        </a>

        <ul class="menu_bar">
          <li>
            <button class="menu-option abtn" onclick="openIntro()">
              클럽 소개
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openEvent()">
              이벤트
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openComu()">
              커뮤니티
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openNotice()">
              공지 사항
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openInquire()">
              문의 하기
            </button>
          </li>
        </ul>
      </div>

      <div class="__label">
        <span>문의 하기</span>
      </div>

      <div class="hamburger">
        <svg
          class="hamburger__icon"
          xmlns="http://www.w3.org/2000/svg"
          height="32"
          width="32"
          viewBox="0 0 448 512"
        >
          <path
            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
          />
        </svg>
      </div>

      <div class="mobile-menu">
        <div class="close-menu">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="32"
            width="32"
            viewBox="0 0 384 512"
          >
            <path
              d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"
            />
          </svg>
        </div>
        <ul class="mobile-nav-list">
          <li>
            <button class="menu-option abtn" onclick="openIntro()">
              클럽소개
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openEvent()">
              이벤트
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openComu()">
              커뮤니티
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openNotice()">
              공지 사항
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openInquire()">
              문의 하기
            </button>
          </li>
        </ul>
      </div>
    </header>

    <main>
      <form
        class="gform"
        method="POST"
        data-email="magicclub.kr@gmail.com"
        action="https://script.google.com/macros/s/AKfycbwaSOecFSbLqJEPX375wkoRVscQsePimC79lMjeE3bbgHVLqCvgDRF9U7WnBxwJgGqm/exec"
      >
        <div class="form-elements">
          <div class="title_and_contents">
            <span class="inquire__title">문의 하기</span>
            <p class="inquire__contents">
              문의는 기본적으로 메일로 받고 있습니다.<br />인스타그램 DM으로
              문의주시면 더 빠른 답변이 가능합니다.<br />인스타그램:
              @magic_club.korea
            </p>
          </div>

          <div class="inquire__info">
            <fieldset class="pure-group fieldset__name">
              <label for="name">이름: </label>
              <input id="name" name="name" placeholder="문의자님 성함" />
            </fieldset>

            <fieldset class="pure-group fieldset__email">
              <label for="email">Email: </label>
              <input
                id="email"
                name="email"
                type="email"
                value=""
                required
                placeholder="your.name@email.com"
              />
            </fieldset>
            <span class="within-a-day">
              문의 답변은 24시간 내에<br />적어주신 메일로 답변드립니다.
            </span>
          </div>

          <fieldset class="pure-group writing-inquire">
            <label for="message">문의 내용: </label>
            <textarea id="message" name="message" rows="10"> </textarea>
          </fieldset>

          <div class="form__etc">
            <fieldset class="pure-group honeypot-field">
              <label for="honeypot">
                스팸 방지용 공란입니다. <br />해당 빈칸은 비워져있어야합니다.
              </label>
              <input id="honeypot" type="text" name="honeypot" value="" />
            </fieldset>
            <div class="btn_container">
              <button class="button-success pure-button button-xlarge">
                <i class="fa fa-paper-plane"></i>&nbsp;문의 보내기
              </button>
            </div>
          </div>
        </div>

        <div style="display: none" class="thankyou_message">
          <!-- You can customize the thankyou message by editing the code below -->
          <h2>감사합니다.</h2>
          <h3>
            문의주신 내용에 대한 답변은 24시간 내에 응답하신 메일로 발송됩니다.
          </h3>
          <div class="thx__mail">
            <img src="../img/mailbox.png" class="thx__img" />
          </div>
        </div>
      </form>
    </main>

    <footer>
      <div class="contact">
        <!-- 추후 정식 번호 추가하기
        <span class="contact__phone-number"> TEL: 010-6324-6912</span>
        -->
        <span>Social Media</span>
        <div class="contact__sns">
          <button onclick="openInsta()" class="contact__media">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 448 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
              />
            </svg>
          </button>
          <button onclick="openYoutube()" class="contact__media">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 576 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
              />
            </svg>
          </button>
        </div>
      </div>
    </footer>
    <script src="/js/hamburger.js"></script>
    <script src="/js/open.js"></script>
    <script data-cfasync="false" src="/js/email.js"></script>
  </body>
</html>
