<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magic club Korea - 소개</title>
    <link rel="stylesheet" href="../css/index-intro.css" />
  </head>
  <body>
    <header>
      <a href="/templates/main.html" class="logo">
        <div class="logo__img__container">
          <img src="/img/box_logo_only.png" />
        </div>
      </a>

      <div class="menu_bar">
        <a href="/templates/introduction.html" class="span-anchor">
          <div class="menu-option">클럽소개</div>
        </a>
        <a href="/templates/register.html" class="span-anchor">
          <div class="menu-option">회원 가입 안내</div>
        </a>
        <a href="/templates/event_ongoing.html" class="span-anchor">
          <div class="menu-option">이벤트</div>
        </a>
        <a href="#" class="span-anchor">
          <!--"http://kakaotalk" -->
          <div class="menu-option">커뮤니티</div>
        </a>
        <a href="/templates/inquire.html" class="span-anchor">
          <div class="menu-option">문의 하기</div>
        </a>
        <a href="/templates/notification.html" class="span-anchor">
          <div class="menu-option">공지 사항</div>
        </a>
      </div>
      <a
        class="profile__container span-anchor display-none"
        href="/templates/account.html"
      >
        <div class="profile">
          <div class="profile__img">
            <img src="https://source.unsplash.com/random" />
          </div>
          <div class="profile__username">
            <span class="span-anchor">Admin1234</span>
          </div>
        </div></a
      >
      <a class="profile__container span-anchor" href="/templates/login.html">
        <div class="profile">
          <div class="profile__img profile__img__login">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z"
              />
            </svg>
          </div>
          <div class="profile__username__login">
            <span>로그인</span>
          </div>
        </div></a
      >
      <div class="__label">
        <span class="page_now">클럽 소개</span>
      </div>
    </header>
    <main>
      <div class="introduction__container">
        <div class="introduction-logo__container">
          <img src="/img/box_logo.png" class="introduction-logo__img" />
        </div>

        <div class="introduction__collumn">
          <span class="explanation_of"
            >가장 자유로운 마술 집단<br />매직클럽입니다.</span
          >
          <p class="magic_club_korea">
            2019년, 대학 마술 동아리를 위한 단체가 있었습니다.<br />
            동아리 부원들의 니즈를 맞춰주는 것 이상으로 더 많은 사람들과 함꼐
            활동하고자 합니다.
          </p>
        </div>
        <div class="introduction__collumn">
          <span class="explanation_of">가입 자격은 어떻게 되나요?</span>
          <p class="magic_club_korea">
            마술에 관심과 열정이 있는 성인이면 모두 가능합니다.
          </p>
        </div>
        <div class="introduction__collumn">
          <span class="explanation_of">왜 매직클럽에 가입해야하나요?</span>
          <p class="magic_club_korea">
            혼자서 마술을 하기란 쉽지 않습니다.<br />
            매직클럽은 여러분들과 마술을 배우고, 사람을 배우고, 무대에 오르는<br />
            그 모든 과정에 함께 합니다.
          </p>
        </div>
        <div class="introduction__collumn">
          <span class="explanation_of">어떻게 매직클럽에 가입해야하나요?</span>
          <p class="magic_club_korea">
            페이지 상단의 '회원 가입 안내' 혹은<br />
            <a href="/templates/register.html"><span>매직클럽 가입하기</span></a
            ><br />
            를 이용해주세요.
          </p>
        </div>
      </div>
    </main>
    <footer>
      <div class="contact">
        <span class="contact__phone-number"> 대표번호: 010-1234-1234</span>
        <a href="https://www.instagram.com/magic_club_official/">
          <div class="contact__instagram sns">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
              />
            </svg>
          </div>
        </a>
        <a href="https://www.youtube.com/">
          <div class="contact__youtube sns">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 576 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
              />
            </svg>
          </div>
        </a>
      </div>
    </footer>
  </body>
</html>
