<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magic club Korea - login</title>
    <link rel="stylesheet" href="../styles/screens/login.scss" />
  </head>

  <body>
    <div class="user-component">
      <a href="/templates/main.html">
        <div class="logo">
          <img src="/img/mklogo.png" class="magic_club-logo" />
        </div>
      </a>
    </div>
    <div class="user-component">
      <form class="login-form">
        <h2 class="login">login</h2>
        <input type="text" class="id" placeholder="아이디" />
        <input type="password" class="pw" placeholder="비밀번호" />
        <button class="login__btn" value="로그인">로그인</button>
      </form>
    </div>
    <div class="user-component">
      <span>계정이 없으신가요?</span>
      <a class="span-anchor" href="/templates/register.html"
        ><span>회원가입 하기</span></a
      >
    </div>
  </body>
</html>
