<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magic club Korea - 3월 파티</title>
    <link rel="stylesheet" href="../styles/screens/participate.css" />
  </head>
  <body>
    <div class="too_small">화면이<br />너무작<br />습니다.</div>
    <header>
      <div class="upper">
        <a href="/templates/main.html" class="logo">
          <div class="logo__img__container">
            <img src="/img/new_logo_nobackground.png" />
          </div>
        </a>

        <ul class="menu_bar">
          <li>
            <button class="menu-option abtn" onclick="openIntro()">
              클럽 소개
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openEvent()">
              이벤트
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openComu()">
              커뮤니티
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openNotice()">
              공지 사항
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openInquire()">
              문의 하기
            </button>
          </li>
        </ul>
      </div>

      <div class="__label">
        <span>이벤트</span>
      </div>

      <div class="hamburger">
        <svg
          class="hamburger__icon"
          xmlns="http://www.w3.org/2000/svg"
          height="32"
          width="32"
          viewBox="0 0 448 512"
        >
          <path
            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
          />
        </svg>
      </div>

      <div class="mobile-menu">
        <div class="close-menu">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="32"
            width="32"
            viewBox="0 0 384 512"
          >
            <path
              d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"
            />
          </svg>
        </div>
        <ul class="mobile-nav-list">
          <li>
            <button class="menu-option abtn" onclick="openIntro()">
              클럽소개
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openEvent()">
              이벤트
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openComu()">
              커뮤니티
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openNotice()">
              공지 사항
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openInquire()">
              문의 하기
            </button>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <form class="form">
        <!-- 마감 시 주석 치우기
        <div class="overlay">
          <span>마감된 행사입니다.</span>
        </div>
        -->
        <span class="form__title">파티-인별 마술</span>
        <div class="form__contents">
          <div class="form__event">
            <div class="form__event-img">
              <img src="../img/coming.png" />
            </div>
            <div class="form__event-info">
              <p>
                장소 : 미정
                <br />
                대상 : 미정
                <br />
                일시 : 3월 말
                <br />
                가격 : 15,000 이하...로 노력 중
              </p>
            </div>
          </div>

          <div class="form__text">
            <p>
              마술을 잘 몰라도 마술로 놀 수 있는 행사를 기획 중입니다.<br /><br />
              거 인스타 계정에 마술 하나 정돈 괜찮잖아.<br />
              블랙 아트, 카메라 트릭 등 릴스, 숏츠에서 보았던 바로 그 마술!<br /><br />
              여러분들 휴대폰에 담아가시길 바랍니다.
            </p>
          </div>

          <div class="form__assign">
            <span> 개, 발, 자. 셋이서 예약 시스템 개발 중입니다. </span>
            <!--
            <fieldset class="pure-group fieldset__name">
              <label for="name">참여자 이름: </label>
              <ul class="assign_list">
                <li class="person-container">
                  <input
                    required
                    id="name"
                    name="name"
                    type="text"
                    placeholder="홍길동"
                  />
                  <button class="add_person">﹢</button>
                </li>
              </ul>
            </fieldset>
            <fieldset class="pure-group fieldset__person">
              <label for="name">참여 인원: </label>
              <input
                required
                id="person"
                name="person"
                type="number"
                placeholder="1"
              />
            </fieldset>
            <fieldset class="pure-group fieldset__agree">
              <label for="name"
                >장소, 일시, 가격, 환불 규정 등, 매직 클럽은 개인의 규정
                미숙지로 인한 불이익은 책임지지 않습니다.
              </label>
              <div class="agree-btn">
                <input required id="agree" name="agree" type="checkbox" />
                <span>동의합니다.</span>
              </div>
            </fieldset>
            <div class="event__btn-container">
              <input type="submit" class="event__btn" value="신청 하기" />
            </div>-->
          </div>
        </div>
      </form>
    </main>

    <footer>
      <div class="contact">
        <!-- 추후 정식 번호 추가하기
        <span class="contact__phone-number"> TEL: 010-6324-6912</span>
        -->
        <span>Social Media</span>
        <div class="contact__sns">
          <button onclick="openInsta()" class="contact__media">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 448 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
              />
            </svg>
          </button>
          <button onclick="openYoutube()" class="contact__media">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 576 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
              />
            </svg>
          </button>
        </div>
      </div>
    </footer>
    <script src="/js/event_person.js"></script>
    <script src="/js/hamburger.js"></script>
    <script src="/js/open.js"></script>
  </body>
</html>
