<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magic club Korea - 공지 내용</title>
    <link rel="stylesheet" href="../styles/screens/notification_contents.css" />
  </head>
  <body>
    <div class="too_small">화면이<br />너무작<br />습니다.</div>
    <header>
      <a href="/templates/main.html" class="logo">
        <div class="logo__img__container">
          <img src="../img/mklogotp.png" />
        </div>
      </a>

      <ul class="menu_bar">
        <li>
          <a href="/templates/main.html" class="span-anchor">
            <span class="menu-option">클럽소개</span>
          </a>
        </li>
        <li>
          <a href="/templates/register.html" class="span-anchor">
            <span class="menu-option">회원 가입 안내</span>
          </a>
        </li>
        <li>
          <a href="/templates/event_ongoing.html" class="span-anchor">
            <span class="menu-option">이벤트</span>
          </a>
        </li>
        <li>
          <a
            href="https://open.kakao.com/o/g73dHOZf"
            class="span-anchor"
            target="_blank"
          >
            <span class="menu-option">커뮤니티</span>
          </a>
        </li>
        <li>
          <a href="/templates/inquire.html" class="span-anchor">
            <span class="menu-option">문의 하기</span>
          </a>
        </li>
        <li>
          <a href="/templates/notification.html" class="span-anchor">
            <span class="menu-option">공지 사항</span>
          </a>
        </li>
      </ul>
      <a
        class="profile__container span-anchor display-none"
        href="/templates/account.html"
      >
        <div class="profile">
          <div class="profile__username">
            <span class="span-anchor">Admin1234</span>
          </div>
        </div>
      </a>
      <a class="profile__container span-anchor" href="/templates/login.html">
        <div class="profile">
          <div class="profile__img profile__img__login">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z"
              />
            </svg>
          </div>
          <div class="profile__username__login">
            <span>로그인</span>
          </div>
        </div>
      </a>
      <div class="__label">
        <span>공지 내용</span>
      </div>
      <div class="hamburger">
        <svg
          class="hamburger__icon"
          xmlns="http://www.w3.org/2000/svg"
          height="32"
          width="32"
          viewBox="0 0 448 512"
        >
          <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
          <path
            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
          />
        </svg>
      </div>

      <div class="mobile-menu">
        <div class="close-menu">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="32"
            width="32"
            viewBox="0 0 384 512"
          >
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
            <path
              d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"
            />
          </svg>
        </div>
        <ul class="mobile-nav-list">
          <li>
            <a class="span-anchor" href="/templates/account.html"
              >마이 페이지</a
            >
          </li>
          <li>
            <a class="span-anchor display-none" href="/templates/login.html"
              >로그인</a
            >
          </li>
          <li>
            <a class="span-anchor" href="/templates/introduction.html"
              >클럽소개</a
            >
          </li>
          <li>
            <a class="span-anchor" href="/templates/register.html">회원 가입</a>
          </li>
          <li>
            <a class="span-anchor" href="/templates/event_ongoing.html"
              >이벤트</a
            >
          </li>
          <li>
            <a
              class="span-anchor"
              href="https://open.kakao.com/o/g73dHOZf"
              target="_blank"
              >커뮤니티</a
            >
          </li>
          <li>
            <a class="span-anchor" href="/templates/inquire.html">문의 하기</a>
          </li>
          <li>
            <a class="span-anchor" href="/templates/notification.html"
              >공지 사항</a
            >
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="main-content">
        <div class="content__title">
          <span class="title">이제 누가 공지해주냐</span>
        </div>
        <div class="content__paragraph">
          <p>
            안녕정민아너를처음본순간부터좋아했어방학전에고백하고싶었는데바보같이그땐용기가없더라지금은이수많은사람들앞에서오로지너만사랑한다고말하고싶어서큰마음먹고용기내어봐매일매일버스에서너볼때마다두근댔고동아리랑과활동에서도너만보이고너생각마나고지난3월부터계속그
          </p>
        </div>
      </div>
    </main>
    <footer>
      <div class="contact">
        <span class="contact__phone-number"> 대표번호: 010-1234-1234</span>
        <a href="https://www.instagram.com/magic_club.korea/">
          <div class="contact__instagram sns">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
              />
            </svg>
          </div>
        </a>
        <a href="https://www.youtube.com/">
          <div class="contact__youtube sns">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 576 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
              />
            </svg>
          </div>
        </a>
      </div>
    </footer>
    <script src="/js/hamburger.js"></script>
  </body>
</html>
