<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magic club Korea - 공지 내용</title>
    <link rel="stylesheet" href="../styles/screens/notification_contents.css" />
  </head>
  <body>
    <div class="too_small">화면이<br />너무작<br />습니다.</div>
    <header>
      <a href="/templates/main.html" class="logo">
        <div class="logo__img__container">
          <img src="/img/mklogotp.png" />
        </div>
      </a>

      <ul class="menu_bar">
        <li>
          <button class="menu-option abtn" onclick="openIntro()">
            클럽 소개
          </button>
        </li>
        <li>
          <button class="menu-option abtn" onclick="openEvent()">이벤트</button>
        </li>
        <li>
          <button class="menu-option abtn" onclick="openComu()">
            커뮤니티
          </button>
        </li>
        <li>
          <button class="menu-option abtn" onclick="openNotice()">
            공지 사항
          </button>
        </li>
        <li>
          <button class="menu-option abtn" onclick="openInquire()">
            문의 하기
          </button>
        </li>
      </ul>

      <div class="__label">
        <span>공지 사항</span>
      </div>

      <div class="hamburger">
        <svg
          class="hamburger__icon"
          xmlns="http://www.w3.org/2000/svg"
          height="32"
          width="32"
          viewBox="0 0 448 512"
        >
          <path
            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
          />
        </svg>
      </div>

      <div class="mobile-menu">
        <div class="close-menu">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="32"
            width="32"
            viewBox="0 0 384 512"
          >
            <path
              d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"
            />
          </svg>
        </div>
        <ul class="mobile-nav-list">
          <li>
            <button class="menu-option abtn" onclick="openIntro()">
              클럽소개
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openEvent()">
              이벤트
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openComu()">
              커뮤니티
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openNotice()">
              공지 사항
            </button>
          </li>
          <li>
            <button class="menu-option abtn" onclick="openInquire()">
              문의 하기
            </button>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="main-content">
        <div class="content__title">
          <span class="title">매직클럽 회칙</span>
        </div>
        <div class="content__paragraph">
          <div class="three_lines">
            <br />
            <h2>세 줄 요약</h2>
            <br />
            <h3>1. 가입 신청 후 입금 시 정회원 승격. 단, 24년 8월까진 무료</h3>
            <h3>2. 정회원 자격은 1년 후 갱신 필요</h3>
            <h3>3. 생각하고 생각하고 생각한 다음에 말하고 행동하기</h3>
          </div>
          <div class="full_paragrapgh">
            <br />
            <h2>제1장 &lt; 총 칙 &gt;</h2>
            <br />
            <h3>제1조 (명 칭)</h3>
            <br />
            <p>
              1 본회의 정식 명칭은 &lt;매직 클럽 코리아&gt; 이라 칭한다.<br />
              2 본회의 정식 영문 명칭은 &lt;Magic Club Korea&gt; 이라 칭한다.<br />
              3 서류상의 기재 목적 혹은 홍보 목적으로 &lt;Magic Club&gt; 또는
              &lt;매직 클럽&gt;이라고 줄일 수 있다.
            </p>
            <br />
            <br />
            <h3>제2조 (목 적)</h3>
            <br />
            <p>
              1 마술이란 공통된 주제를 통해 회원 상호간의 발전 및 친분을
              도모하며 마술에 대한 이론 및 실전, 연습을 바탕으로 공연과 워크샵,
              친목 활동 등의 다양한 활동을 하는 것을 목적으로 한다.
            </p>
            <br />
            <br />
            <h3>제3조 (운 영)</h3>
            <br />
            <p>
              1 본회는 회원에 의한 민주성과 자주성의 원칙 아래 회칙에 의거하여
              운영한다.<br />
              2 본 회칙은 본회 공식 사이트에 공지하여 모든 부원들이 명확히
              이해하고, 상시 열람할 수 있도록 한다.
            </p>
            <br />
            <br />
            <h3>제4조 (기 구)</h3>
            <br />
            <p>1 본회는 집행부를 기구로 둔다.</p>
            <br />
            <br />
            <h3>제5조 (적 용)</h3>
            <br />
            <p>
              1 본 회칙에 명시되지 않은 사항에 대해서는 회원총회의 의결을
              따른다.<br />
              2 제1항에도 불구하고 결정할 수 없는 사항에 대해서는 일반 관례를
              따른다.
            </p>
            <br />
            <br />
            <h2>제2장 &lt; 회 원 &gt;</h2>
            <br />
            <br />
            <h3>제 6조 (회원의 구성)</h3>
            <br />
            <p>1 본회의 회원은 신입 회원, 정회원으로 구성된다.</p>
            <br />
            <br />
            <h3>제7조 (회원의 의무와 권리)</h3>
            <br />
            <p>
              1 본회의 회원들은 다음의 호에 명시된 의무를 지닌다.<br />
              제1호 본회의 회칙과 공지를 숙지하고 준수할 의무<br />
              제2호 본회가 민주적으로 결정한 사항에 대하여 준수하고 이행할
              의무<br />
              제3호 본회의 대외비를 보장하고 수호할 의무<br />
              제4호 본회의 사이트를 건강하게 이용할 의무<br />
              제5호 상업적 목적, 종교적 목적 등, 마술과 친목 의외의 목표로
              활동하지 않을 의무<br /><br />

              2 본회의 의무를 이행하는 회원들은 다음의 호에 명시된 권리를
              갖는다.<br />
              제1호 본회의 제반 활동에 대한 자신의 의견을 자유롭게 개진할
              권리<br />
              제2호 본회 정기모임 및 내부행사 참여에 대한 권리<br /><br />

              3 본회의 정회원들은 다음의 호에 명시된 의무를 지닌다.<br />
              제1호 연회비 납부의 의무<br /><br />

              4 본회의 정회원들은 다음의 호에 명시된 권리를 지닌다.<br />
              제1호 내부 행사의 참여 시 금전적인 할인 혜택<br /><br />

              5 집행부는 본조에 명시된 의무를 다하지 않은 회원에 대하여
              징계위원회를 소집할 수 있다.<br />

              6 신입 회원은 정회원에 비해 웹사이트 이용과 행사 참여에 불이익이
              있을 수 있다.
            </p>
            <br />
            <br />
            <h3>제8조 (신입 회원의 자격)</h3>
            <br />
            <p>
              1 신입 회원의 자격은 마술에 관심이 있는 만 18세 이상 성인이다.
            </p>
            <br />
            <br />
            <h3>제9조 (정회원의 자격)</h3>
            <br />
            <p>
              1 정회원의 자격은 연회비를 납부한 신입 회원이다.<br />
              2 정회원의 권리는 납부 시점으로부터 1년간 유지된다.<br /><br />
            </p>
            <br />
            <br />
            <h3>제10조 (총회)</h3>
            <br />
            <p>
              1 총회는 집행부로 구성된 본회 최고 의결기구이다.<br />
              2 총회의 의장은 본회 회장이 맡는다.<br />
            </p>
            <br />
            <br />
            <h3>제11조 (권한)</h3>
            <br />
            <p>
              1 동아리의 전반적인 활동과 회원에 관한 모든 사항들을 토의,
              결정한다.<br />
            </p>
            <br />
            <br />
            <h3>제12조 (소집)</h3>
            <br />
            <p>
              1 한 학기에 두 번의 총회를 의무적으로 소집한다.<br />
              2 의장은 총회 개회 3일 이전에 이를 공식 게시 매체를 통해
              공지한다.<br />
              3 의장은 긴급 총회를 소집할 수 있으며 개회 1일 이전에 이를 공식
              게시 매체를 통해 공지한다.<br />
            </p>
            <br />
            <h3>제13조 (의결)</h3>
            <br />
            <p>
              1 재적 집행부원 1/2 이상의 출석으로 개회하고 재석 집행부원 3/4
              이상의 찬성으로 의결한다.<br />
              2 의장은 회의의 형태를 대면 혹은 실시간 온라인 회의로 할 수
              있다.<br />
            </p>
            <br />
            <h3>제14조 (탄핵소추권)</h3>
            <br />
            <p>
              1 재적 집행부원 1/n 이상의 연서를 통해 회장의 탄핵소추안을 총회에
              건의할 수 있다.<br />
              2 탄핵소추안 건의 시, 총회의 의장은 부회장으로 한다.
            </p>
            <br />
            <br />
            <h2>제3장 &lt; 회 장 &gt;</h2>
            <br />
            <h3>제15조 (지위와 책임)</h3>
            <br />
            <p>
              1 매직 클럽 회장(이하 회장)은 본회의 대표자이며, 총회의 의장이
              된다.<br />
              2 회장은 본회의 대표자로서 연합의 목적에 맞는 동아리 활동과
              건전하고 바람직한 문화 형성을 보장할 책임과 민주적인 운영을 수행할
              책임을 지닌다.<br />
            </p>
            <br />
            <h3>제16조 (임기)</h3>
            <br />
            <p>
              1 회장의 임기는 당선일로부터 인수인계 기간을 포함하여 다음 회장
              취임 전일까지로 한다.<br />
            </p>
            <br />
            <h3>제17조 (권한 및 업무)</h3>
            <br />
            <p>
              1 회장은 다음의 각 호에 명시된 권한을 갖는다.<br /><br />
              제1호 총책임자 및 최종책임자로서 동아리 운영 업무의 최종결정권<br />
              제2호 총회 소집권<br />

              2 회장은 다음의 각 호에 명시된 업무를 수행한다.<br /><br />
              제1호 회원총회의 진행 및 의장직 수행<br />
              제2호 행사 기획<br />
              제3호 행사 운영<br />
              제4호 금전 거래의 최종 책임<br />
              제5호 공식 매체 게시 및 삭제<br />
              제6호 모임의 최종 허가<br /><br />
              <br />
            </p>

            <h2>제4장 &lt; 집 행 부 &gt;</h2>
            <br /><br />
            <h3>제18조 (구성 및 자격)</h3>
            <br />
            <p>
              1 집행부의 자격은 전임 집행부원의 추천과 타 집행부원들의 만장일치
              하에 이루어진다.<br />

              2 집행부는 회장을 도와 동아리의 전반적인 운영을 책임지며,
              솔선수범하여 모범을 보인다.<br />

              3 집행부의 구성과 역할은 다음 각 호와 같다.<br /><br />
              제1호 부회장 : 전반적인 회장의 업무 보조, 회장의 업무 수행 불능 시
              대리권자<br />
              제2호 총무: 모임 및 행사의 수익, 지출 파악과 공비 관리<br />
              제3호 홍보부장: 공식 매체 관리와 내부 연락망 관리<br />
              제4호 사무부장: 민원 정리, 징계 공고<br />
              제5호 기획부장: 행사 및 모임의 기획과 진행
            </p>
            <br />
            <h3>제19조 (임기)</h3>
            <br />
            <p>
              1 집행부원의 임기는 취임일로부터 인수인계 포함 다음 집행부원의
              취임 전일까지로 한다.<br />
              2 궐위 및 사고로 집행부 임기를 마치지 못하고 사퇴할 경우, 집행부의
              임기는 동시에 종료되며, 제18조1항을 통해 다음 집행부를 선출 할 수
              있다.<br />
            </p>
            <br />
            <h3>제20조 (권한 및 업무)</h3>
            <br />
            <p>
              1 업무의 분배는 회장과 집행부의 자율적이고 민주적인 논의 하에
              결정한다.<br />
              2 집행부의 권한은 각 호와 같다.<br /><br />
              제1호 동아리의 대외적인 행사 참여에 대표자의 대리자 역할 수행<br />
              제2호 비상대책위원회 구성 및 인준<br />
              제3호 회계 내역 열람 및 수정
            </p>
            <br />
            <br />
            <h2>제5장 &lt; 모 임 &gt;</h2>
            <br />
            <h3>제21조 (모임)</h3>
            <br />
            <p>
              1 본 동아리는 동아리 목적에 맞는 모임을 최소 격달에 한 번
              실시한다.<br />

              2 정기모임의 내용, 장소 등은 상황에 맞게 집행부가 결정하며 개시
              1일 이전에 이를 공식 게시 매체를 통해 공지한다.<br />

              3 버스킹의 경우, 공지 시간에 의한 제약은 없다.<br />

              4 모임의 참가 의사는 모임을 위한 내부 연락망에 존재하는지로
              판단한다.<br />

              5 모임의 참가 여부는 사진 및 집행부의 증언으로 판단한다.<br />
            </p>
            <br />
            <h3>제22조 (정기모임 운영)</h3>
            <br />
            <p>1 정기모임에서는 마술 중심의 컨텐츠를 준비할 수 있다.<br /></p>
            <br />
            <h3>제23조 (정기모임-불참 페널티)</h3>
            <br />
            <p>
              1 정기모임에 년 1회 미만, 지속적인 불참하는 회원에 대해서는 회원
              자격을 상실한다.<br />

              2 단, 적절한 사유로 인한 불참자는 사전에 집행부에게 알림으로서
              페널티를 받지 아니한다.<br />
            </p>
            <br />
            <h3>제24조 (모임의 시작과 종료)</h3>
            <br />
            <p>
              1 모임의 시작과 종료는 집행부의 공지 시간에 따른다.<br />

              2 모임의 공식적인 종료 후에 일어난 추가 모임과 일련의 사건들에
              대해서는 동아리 차원이 아닌 개인적인 모임으로 간주하며, 동아리
              회칙에 적용되지 않는다.
            </p>
            <br />
            <h3>제25조 (민원 제기)</h3>
            <br />
            <p>
              1 민원의 제기는 음성 녹음, 문자 메시지 등과 같은 증거가 존재할 때
              유효하다.<br />

              2 특정 집행부원에 대한 민원의 경우, 다른 집행 부원에게 이야기 할
              수 있으며, 사항에 따라 해당 집행부원을 제외하고 징계위원회 회부가
              가능하다.<br />

              3 모임의 기획을 희망하는 경우 집행부에게 내용 전달을 통해 개설이
              가능하다.
            </p>
            <br />
            <br />
            <h2>제6장 &lt; 재 정 &gt;</h2>
            <br />
            <h3>제26조 (재정 담당자)</h3>
            <br />
            <p>
              1 재정 담당자는 집행 부원 모두가 맡으며, 사용 내역을 증거와 함께
              제출, 정산을 기본으로 한다.<br />
              2 자치비의 은행 계좌는 본회 공식 명의, 회장 명의, 총무 명의의
              계좌만을 사용한다.
            </p>
            <br />
            <br />
            <h2>제7장 &lt; 공식 매체 &gt;</h2>
            <br />
            <h3>제27조 (공식 페이지)</h3>
            <br />
            <p>
              1 본회의 공식 매체는 다음의 각 호로 구성된다.<br /><br />
              제1호 인스타그램
              [https://www.instagram.com/magic_club_official/]<br />
              제2호 인터넷 웹사이트 [현재 개발 중]<br />
              2 공식 매체들은 대외적인 홍보 및 공지를 목적으로 한다.<br />
            </p>
            <br />
            <h3>제28조 (공지 매체)</h3>
            <br />
            <p>
              1 웹 페이지를 제외한 공식 페이지의 작성 권한은 집행부에게 있으며,
              그 외의 인원이 이용을 원할 경우 집행부의 허가를 구한다.<br />
              2 웹 페이지의 경우 공지를 제외한 모든 페이지의 이용은 전 회원에게
              열려있다.<br />
            </p>
            <br />
            <h3>제29조 (공식 매체의 운영자 및 승계)</h3>
            <br />
            <p>
              1 공식 웹사이트의 최고 운영자는 회장이 겸임하며, 새로운 회장
              선출과 동시에 인계한다.<br />

              2 회장의 재량에 따라 웹 운영 담당자를 임명할 수 있다.<br />
            </p>
            <br />
            <h3>제30조 (공식 페이지의 운영)</h3>
            <br />
            <p>
              1 최고 운영자는 당해에 동아리원의 위치에 맞게 웹 회원의 등급을
              조정한다.<br />

              2 회원의 등급은 회장, 집행부, 동아리 회원, 일반 회원, 신입
              회원으로 나뉜다.
            </p>
            <br />
            <br />
            <h2>제8장 &lt; 비상대책위원회 &gt;</h2>
            <br />
            <h3>제31조 (목적)</h3>
            <br />
            <p>
              1 회장의 부재 혹은 동아리의 정상적 운영이 불가능한 경우, 본회의
              정상화를 위하여 비상대책위원회를 구성할 수 있다.<br />
            </p>
            <br />
            <h3>제32조 (구성)</h3>
            <br />
            <p>
              1 집행부의 인준을 통한 비상대책위원회를 구성하며, 정회원만이 그
              자격을 갖는다.<br />
              2 비상대책위원장은 구성된 비상대책위원회 간의 민주적인 방법을
              통하여 선출한다.<br />
            </p>
            <br />
            <h3>제33조 (임기 및 역할)</h3>
            <br />
            <p>
              1 비상대책위원회의 임기는 객관적인 본회의 정상화 이후 회장의
              선출과 함께 종료한다.<br />
              2 비상대책위원회는 다음의 각 호에 명시된 역할을 수행한다.<br /><br />
              제1호 대표자 부재 시, 대표자의 대리인으로서 대외적인 활동과 역할
              대행<br />
              제2호 대표자 부재 시, 내부적인 통솔 및 최종책임<br />
              제3호 사건 발생시, 사건해결을 위한 조속한 노력<br />
              제4호 사건 발생시, 객관적인 사실의 공포와 그 대책 강구 및 실행<br />
            </p>
            <br />
            <br />
            <h2>제9장 &lt; 회칙 변경 &gt;</h2>
            <br />
            <h3>제34조 (회칙 변경)</h3>
            <br />
            <p>
              1 회칙 개정의 자격은 집행부에게만 있다.<br />
              2 집행부원 만장일치의 연서를 통해 회칙 개정안을 집행부 총 회의로
              발의할 수 있다.<br />
              3 회칙 변경 시 신구문대조표를 작성하여 공식 매체에 게시하도록
              한다.<br />
            </p>
            <br />
            <h3>제35조 (회칙변경의 효력발생 및 취소)</h3>
            <br />
            <p>
              1 변경된 회칙은 공식 매체에 게시된 순간부터 그 효력을 갖는다.<br />
              2 회칙 변경의 취소 혹은 재변경은 그 다음 해부터 가능하다.<br />
            </p>
            <br />
            <br />
            <h2>제10장 &lt; 징계 &gt;</h2>
            <br />
            <h3>제36조 (발의)</h3>
            <br />
            <p>
              1 징계의 발의는 다음의 각 호로 이루어진다.<br />
              제1호 회장 혹은 집행부의 1/3이상의 발의<br />
              제2호 정회원의 1/3 이상의 건의.<br />
              제3호 아래의 징계 요건과 기타 사항의 경우<br />
            </p>
            <br />
            <h3>제37조 (징계의 요건)</h3>
            <br />
            <p>
              1 타인에게 직·간접적인 피해를 준 경우<br />
              2 본회의 목적과 인륜, 사회적으로 통용되는 도덕 가치를 위배하는
              행동을 한 경우. 인륜, 사회적으로 통용되는 도덕 가치를 위배하는
              행동은 다음의 호로 이루어진다.<br /><br />
              제1호 성폭력<br />
              제2호 폭력<br />
              제3호 차별 등 인권을 침해하는 행위<br />
            </p>
            <br />
            <h3>제38조 (징계의 절차)</h3>
            <br />
            <p>
              1 제36조1항에 의거하여 발의된 안건에 대해서 총회의 의결로서 징계를
              결정한다.<br />
              2 징계 대상자에게 징계 내용 통보 후, 3일간의 이의신청을 받는다.<br />
              3 당사자의 이의제기가 없을 경우, 즉시 공지 매체를 통해 징계사실을
              공고한다.<br />
            </p>
            <br />
            <h3>제39조 (징계의 정도)</h3>
            <br />
            <p>
              1 징계 요건과 그 정도에 따라 징계의 수준을 결정한다.<br />
              2 징계의 정도는 다음의 호를 따른다.<br /><br />
              제1호 경고<br />
              제2호 사과문 게시<br />
              제3호 행사 참여 제한<br />
              제4호 제명<br />
              3 금전적 배상의 필요성이 명확한 경우 같은 조 제 2항과는 별개로
              배상을 요구할 수 있다.<br />
            </p>
            <br />
            <h3>제40조 (징계의 발효)</h3>
            <br />
            <p>
              1 공지 매체를 통해 징계사실이 공고된 시점으로부터 징계의 효력이
              발생한다.<br />
              2 기간제 징계의 경우, 효력이 발생한 당일도 하루로 포함한다.<br />
            </p>
            <br />
            <h3>제41조 (제명)</h3>
            <br />
            <p>
              1 제명의 경우, 공식 매체 및 내부소통 매체에서의 등급 조정, 퇴장
              요청을 할 수 있다.
            </p>
            <br /><br />
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="contact">
        <span class="contact__phone-number"> TEL: 010-6324-6912</span>
        <div class="contact__sns">
          <button onclick="openInsta()" class="contact__media">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 448 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
              />
            </svg>
          </button>
          <button onclick="openYoutube()" class="contact__media">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2rem"
              viewBox="0 0 576 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
              />
            </svg>
          </button>
        </div>
      </div>
    </footer>
    <script src="../js/hamburger.js"></script>
    <script src="../js/open.js"></script>
  </body>
</html>
