<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magic club Korea - Register</title>
    <link rel="stylesheet" href="../styles/screens/register.scss" />
  </head>

  <body>
    <div class="register__container">
      <div class="user-component">
        <a href="/templates/main.html">
          <div class="logo">
            <img src="/img/mklogo.png" class="magic_club-logo" />
          </div>
        </a>
      </div>
      <div class=""></div>
      <div class="user-component">
        <form class="register-form">
          <div class="form__header">
            <h2 class="register__title">회원가입</h2>
          </div>
          <input required type="text" class="username" placeholder="이름" />
          <input required type="text" class="id" placeholder="아이디" />
          <input required type="password" class="pw" placeholder="비밀번호" />
          <input
            required
            type="password"
            class="pw_check"
            placeholder="비밀번호 확인"
          />
          <div class="register__phone-number">
            <span>연락처:</span>
            <span>010</span>
            -
            <input
              required
              type="text"
              class="phone_number"
              id="second_phone_number"
              placeholder="1234"
              maxlength="4"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
            />
            -
            <input
              required
              type="text"
              class="phone_number"
              id="third_phone_number"
              placeholder="5678"
              maxlength="4"
              oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
            />
          </div>
          <label for="adult-check">
            <input required type="checkbox" id="adult-check" />만 19세
            이상입니다.
          </label>
          <button class="register__btn">회원가입</button>
        </form>
      </div>
      <div class="user-component">
        <span>이미 계정이 있으신가요?</span>
        <a href="/templates/login.html" class="span-anchor"
          ><span>로그인 하기</span></a
        >
      </div>
    </div>
    <script src="../js/pw_check.js"></script>
    <script src="../js/register.js"></script>
    <script src="../js/age_check.js"></script>
  </body>
</html>
