@import "../components/reset.css";
@import "../components/header.css";
@import "../components/footer.css";
@import "../components/hamburger.css";

.__label {
  gap: 1rem;
}
.__label .event_anchor {
  color: #fff;
  text-decoration: none;
}
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-area: 2/1/3/-1;
  width: 100%;
  height: 70vh;
  padding: 1.5rem;
  box-sizing: border-box;
  overflow-y: scroll;
}
main .events {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  margin: 1rem;
  gap: 1rem;
}
main .events .event__box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}
main .events .event__box .event__img {
  width: 200px;
  height: 200px;
  margin: 10px;
  margin-top: 1rem;
}
main .events .event__box .event__explain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 12rem;
  padding: 0.5rem 0 1rem;
}
main .events .event__box .event__explain .event__title {
  font-weight: 700;
  font-size: 1.7rem;
  margin: 0.3rem;
}
main .events .event__box .event__explain .event__date {
  margin-left: 0.5rem;
}
@media screen and (min-width: 300px) and (max-width: 1023px) {
  body {
    width: 100vw;
    height: auto;
  }
  body main {
    width: 100vw;
  }
  body main .ongoing_events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body main .ongoing_events .event__box {
    width: 75%;
  }
  body footer {
    margin-top: 5rem;
  }
}
