@import "../components/reset.css";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  height: 100vh;
}
body .user-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
body .user-component .magic_club-logo {
  display: flex;
  width: 22rem;
}
body .user-component .login-form {
  width: 20rem;
  display: flex;
  flex-direction: column;
}
body .user-component .login-form * {
  margin: 0.2rem;
  padding: 0.5rem 0.3rem;
}
body .user-component .login-form .login {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}
body .user-component:nth-child(3) {
  gap: 1rem;
}
body .user-component:nth-child(3) span:first-child {
  opacity: 0.6;
  font-size: 1rem;
}
body .user-component:nth-child(3) a span {
  display: flex;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.1rem;
}
body .user-component:nth-child(3) a span:hover {
  transform: scale(1.2);
}
