@import "../components/reset.css";
@import "../components/header.css";
@import "../components/footer.css";
@import "../components/resizing.css";
@import "../components/hamburger.css";

main {
  display: flex;
  grid-area: 2/1/3/-1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .inquire__container {
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 1rem;
  width: 80%;
  height: 80%;
  border: 5px double var(--dark_brown);
  background-color: var(--beige);
  position: relative;
}
main .inquire__container .title__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--dark_brown);
}
main .inquire__container .title__container .title__input {
  font-size: 2.5rem;
  font-weight: 700;
  width: 100%;
  height: 90%;
}
main .inquire__container .paragraph__container {
  overflow-y: scroll;
  position: relative;
}
main .inquire__container .paragraph__container .paragraph__input {
  top: 0;
  width: 100%;
  height: 100%;
}
main .inquire__container .paragraph__container .paragraph__input::placeholder {
  position: absolute;
  top: 0;
}
main .inquire__container .upload__btn {
  position: absolute;
  top: 21%;
  right: 2rem;
  width: 5rem;
  height: 2rem;
}
