@font-face {
  font-family: Pretendard Variable;
  src: url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff)
    format("woff");
  font-weight: 400;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Pretendard Variable, Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI,
    Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.display-none {
  display: none !important;
}
.upload {
  width: 6rem;
  height: 2rem;
  margin: 0 1.5rem 0.4rem 0;
}
.span-anchor {
  color: #000;
  text-decoration: none;
}
.page_in_now {
  font-size: large;
}
.profile__img__login {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
.profile__img__login svg {
  width: 2rem;
  height: 2rem;
}
.profile__username__login span {
  font-size: 1.7rem;
}
.abtn {
  background-color: transparent;
  border: none;
}
:root {
  --beige: #fdfbe8;
  --dark_brown: #331224;
  --light_brown: #5f2723;
}
html {
  height: 100vh;
}
body {
  display: grid;
  position: relative;
  grid-template-rows: 9rem 1fr 5rem;
  width: 100%;
  min-height: 100vh;
}
header {
  display: grid;
  width: 100%;
  height: 9rem;
  grid-template-columns: 10rem 1fr 12rem;
  grid-template-rows: 2fr 1fr;
  border: 1px solid gray;
  position: fixed;
  background-color: var(--beige);
  grid-area: 1/1/2/2;
  z-index: 99;
}
header .logo {
  width: 100%;
  height: 100%;
  grid-area: 1/1/2/2;
  position: relative;
}
header .logo .logo__img__container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header .logo .logo__img__container img {
  width: 5.5rem;
  height: 5.5rem;
  max-height: 150px;
  position: absolute;
  right: 0.6rem;
}
header .menu_bar {
  display: flex;
  flex-direction: row;
  grid-area: 1/2/2/-2;
  justify-content: space-evenly;
  align-items: center;
}
header .profile__container {
  display: flex;
  grid-area: 1/-2/2/-1;
  justify-content: center;
  align-items: center;
}
header .profile__container .profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
header .__label {
  display: flex;
  grid-area: 2/1/-1/-1;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  background-color: var(--light_brown);
  border: 5px solid var(--dark_brown);
  box-sizing: border-box;
  margin-top: 1px;
  padding-left: 2rem;
  color: var(--beige);
  width: 100%;
  height: 3rem;
}
@media screen and (min-width: 300px) and (max-width: 1023px) {
  html {
    width: 100vw;
  }
  body {
    width: 100%;
    height: 100vw;
  }
  header {
    display: grid;
    width: 100vw;
    border: 1px solid gray;
    background-color: var(--beige);
    grid-template-columns: 150px 1fr 100px;
    grid-template-rows: 1fr 3rem;
  }
  header .__label {
    grid-area: 2/1/-1/-1;
  }
  header .logo {
    grid-area: 1/1/2/2;
  }
  header .logo .logo__img__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .logo .logo__img__container img {
    width: 110px;
    height: 110px;
  }
  header .menu_bar,
  header .profile__container {
    display: none;
  }
  header .hamburger {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    grid-area: 1/3/-2/-1;
    color: #000;
  }
}
footer {
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 300px) {
  .too_small {
    display: flex !important;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: var(--beige);
    font-size: 5rem;
  }
}
.menu-option {
  font-size: 1.3rem;
}
.menu-option:hover {
  font-size: 1.5rem;
}
footer {
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: end;
  align-items: center;
  background-color: var(--beige);
  grid-area: 3/1/-1/-1;
  z-index: 3;
}
footer .contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}
footer .contact .contact__phone-number {
  font-size: 2em;
  font-weight: 700;
}
footer .sns svg {
  width: 5rem;
  height: 5rem;
}
@media screen and (min-width: 300px) and (max-width: 1023px) {
  footer {
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
    width: 100vw;
  }
  footer .contact .contact__phone-number {
    font-size: 1rem;
    font-weight: 700;
  }
}
.hamburger {
  display: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.mobile-menu {
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 35%;
  background-color: var(--beige);
  opacity: 0;
  grid-template-rows: 2rem repeat(8, 1rem);
  padding: 20px;
  box-sizing: border-box;
  z-index: 5;
  transform: translate(100%);
  transition: all 0.5s ease-out;
}
.close-menu {
  cursor: pointer;
  margin-bottom: 2rem;
}
.mobile-nav-list {
  list-style: none;
  padding: 0;
}
.mobile-nav-list {
  padding-top: 1.5rem;
}
.mobile-nav-list li {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
}
.too_small {
  display: none;
}
main {
  display: flex;
  grid-area: 2/1/3/-1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .gform {
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #331224;
  width: 50rem;
  height: 23rem;
  padding: 1rem;
  gap: 1rem;
}
main .gform .form-elements {
  display: grid;
  grid-template-rows: 15% repeat(5, 1fr) 10%;
  grid-template-columns: 25% 63% 12%;
  width: 100%;
  height: 100%;
}
main .gform .form-elements .title_and_contents {
  grid-area: 1/1/3/-1;
}
main .gform .form-elements .title_and_contents .inquire__title {
  font-size: 3rem;
  font-weight: 700;
}
main .gform .form-elements .title_and_contents .inquire__contents {
  margin-top: 0.5rem;
}
main .gform .form-elements .pure-group {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  margin-top: 0.75rem;
}
main .gform .form-elements .within-a-day {
  grid-area: 5/1/7/2;
  display: flex;
  align-items: center;
}
main .gform .form-elements .writing-inquire {
  grid-area: 3/2/7/-1;
  display: flex;
  flex-direction: column;
}
main .gform .form-elements .writing-inquire label {
  font-size: 1.5rem;
  font-weight: 700;
}
main .gform .form-elements .writing-inquire textarea {
  width: 99%;
  height: 80%;
}
main .gform .form-elements .honeypot-field {
  grid-area: -2/1/-1/3;
  opacity: 0.75;
  font-size: 0.5rem;
  flex-direction: row;
}
main .gform .form-elements .button-success {
  grid-area: -2/-2/-1/-1;
  width: 100%;
}
@media screen and (min-width: 300px) and (max-width: 1023px) {
  body {
    width: 100vw;
    height: auto;
  }
  body main {
    width: 100vw;
  }
  body main .gform {
    width: 80%;
    overflow-y: auto;
  }
  body main .gform .form-elements {
    grid-template-columns: 70% 30%;
    grid-template-rows: 5fr repeat(2, 1fr) 1.5fr 5fr 1fr;
  }
  body main .gform .form-elements .pure-group {
    margin-top: 0;
  }
  body main .gform .form-elements .title_and_contents {
    grid-area: 1/1/2/3;
  }
  body main .gform .form-elements .pure-group:nth-child(3) {
    grid-area: 2/1/3/-1;
  }
  body main .gform .form-elements .within-a-day {
    grid-area: 4/1/5/-1;
  }
  body main .gform .form-elements .pure-group:nth-child(5) {
    grid-area: -2/1/-1/2;
    font-weight: 700;
    display: flex;
  }
  body main .gform .form-elements .pure-group:nth-child(5) input {
    width: 4rem;
  }
  body main .gform .form-elements .writing-inquire {
    grid-area: 5/1/6/-1;
  }
  body main .gform .form-elements .writing-inquire textarea {
    height: 5rem;
  }
  body main .gform .form-elements .pure-group,
  body main .gform .form-elements .within-a-day {
    display: inline;
    width: 100%;
    height: 1rem;
  }
}
